@import '@/assets/styles/base/variables';

.user-review-product-content {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-items: center;

  .user-review-product-count {
    span {
      font-size: 14px;
      color: var(--cp-palette-main-third);
    }
  }
}

.user-review-product-settings {
  color: transparent;
  font-size: 0;
  position: absolute;
  top: 8px;
  right: 4px;
  z-index: 10;
  width: 34px;
  height: 34px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    cursor: pointer;
  }

  &:before {
    content: '\2807';
    -webkit-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
    margin-right: 0;
    height: 34px;
    line-height: 34px;
    color: var(--cp-palette-main-fifth);
    font-size: 20px;
    display: inline-block;
    width: 1em;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant: normal;
    font-style: normal;
    speak: none;
  }
}

.user-review-product {
  &-actions {
    position: absolute;
    right: 0;
    top: 0;
  }

  &-image {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(246, 139, 36, 0.4);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
  }

  &-body {
    grid-column: 3/1;
  }

  &-stars {
    margin-top: 5px;

    .star {
      width: 18px;
      height: 18px;

      &-background {
        color: $rating-starts;
      }
    }
  }

  &-date {
    display: grid;
    grid-template-columns: 37% auto;
    margin-top: 20px;
    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
    }

    span {
      font-size: 13px;
      color: var(--cp-palette-main-fifth);
    }
  }
}

.user-review-actions {
  &-menu {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform-origin: -webkit-calc(100% - 30px) 30px;
    -ms-transform-origin: calc(100% - 30px) 30px;
    transform-origin: calc(100% - 30px) 30px;
    z-index: 9;
    width: auto;
    max-width: 196px;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 4px rgb(112 112 112 / 33%);
    box-shadow: 0 2px 4px rgb(112 112 112 / 33%);
    background: var(--cp-palette-main-secondary);
    padding: 20px 60px 20px 36px;
    -webkit-animation: scaleFade 0.15s;
    animation: scaleFade 0.15s;
    text-align: left;
  }

  &-controls {
    display: block;
  }

  &-edit,
  &-delete {
    a {
      font-size: 14px;
      line-height: 18px;
      display: block;
      position: relative;
      padding: 8px 0 7px;
      color: var(--cp-palette-main-third);
      -webkit-tap-highlight-color: transparent;

      &:hover {
        color: var(--cp-palette-main-fifth);
        cursor: pointer;
      }
    }
  }
}
