.main-navbar {
	background-color: var(--cp-palette-main-secondary);
	border-bottom: 1px solid var(--cp-palette-main-third);
	padding: 0;
	transition: all 0.3s ease-in-out;
}

.btn-w-effect {
	align-items: center;
	color: var(--cp-palette-main-fifth);
	display: flex;
	font-size: 14px;
	justify-content: center;
	letter-spacing: 2px;
	position: relative;
	text-transform: uppercase;
}
.btn-w-effect span {
	color: var(--cp-palette-main-fifth);
}
.btn-w-effect:hover {
	border: 0;
}
.btn-w-effect:hover .line-1 {
	animation: move1 1500ms infinite ease;
}
.btn-w-effect:hover .line-2 {
	animation: move2 1500ms infinite ease;
}
.btn-w-effect:hover .line-3 {
	animation: move3 1500ms infinite ease;
}
.btn-w-effect:hover .line-4 {
	animation: move4 1500ms infinite ease;
}

.line-1 {
	background-color: var(--cp-palette-main-primary);
	bottom: 0;
	content: '';
	display: block;
	left: 0;
	position: absolute;
	width: 1px;
}

.line-2 {
	background-color: var(--cp-palette-main-primary);
	content: '';
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	top: 0;
}

.line-3 {
	background-color: var(--cp-palette-main-primary);
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
}

.line-4 {
	background-color: var(--cp-palette-main-primary);
	bottom: 0;
	content: '';
	display: block;
	height: 1px;
	position: absolute;
	right: 0;
}

.grid-header {
	display: grid;
	grid-column-gap: 0;
	grid-row-gap: 0;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	justify-items: center;
	align-items: center;
}

.logo-header {
	align-items: center;
	display: grid;
	position: relative;
}

.products-header {
	align-items: center;
	color: var(--cp-palette-main-fifth);
	display: flex;
	height: 100%;
	justify-content: center;
	position: relative;
	text-align: center;
	width: 100%;
}
.products-header:hover {
	cursor: pointer;
}
.products-header div.products-a {
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100%;
	justify-content: center;
	width: 100%;
}
.products-header div.products-a span.title {
	color: var(--cp-palette-main-fifth);
}
.products-header div.products-a h2 {
	font-size: 14px;
	font-weight: 500;
}
.products-header span.title {
	font-weight: 500;
	position: relative;
}
@media screen and (max-width: 1420px) {
	.products-header span.title {
		font-size: 12px;
	}
}
@media screen and (max-width: 767px) {
	.products-header span.title {
		font-size: 10px;
	}
}
@media screen and (max-width: 576px) {
	.products-header span.title {
		font-size: 8px;
	}
}
.products-header button.menu {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	padding: 0;
}
.products-header button.menu .line {
	fill: none;
	stroke: var(--cp-palette-main-fifth);
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products-header button.menu .line-one {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}
.products-header button.menu .line-two {
	stroke-dasharray: 60 60;
	stroke-width: 6;
}
.products-header button.menu .line-three {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}
.products-header button.menu.opened .line-one {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}
.products-header button.menu.opened .line-two {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}
.products-header button.menu.opened .line-three {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

.blog-header {
	align-items: center;
	color: var(--cp-palette-main-fifth);
	display: flex;
	height: 100%;
	justify-content: center;
	position: relative;
	text-align: center;
	width: 100%;
}
.blog-header h4 {
	font-size: 14px;
	font-weight: 500;
}
.blog-header svg {
	margin-right: 15px;
}
.blog-header a {
	height: 100%;
	width: 100%;
}
.blog-header a:hover {
	color: var(--cp-palette-main-fifth);
}
.blog-header a span {
	font-weight: 500;
}
@media screen and (max-width: 1420px) {
	.blog-header a span {
		font-size: 12px;
	}
}
@media screen and (max-width: 767px) {
	.blog-header a span {
		font-size: 10px;
	}
}

.search-header {
	color: var(--cp-palette-main-fifth);
	display: grid;
	position: relative;
	width: 100%;
	height: auto;
}
.search-header .search-buttons-container {
	align-self: center;
	background: var(--cp-palette-main-fourth);
	border: 1px solid var(--cp-palette-main-third);
	border-radius: 10px;
	display: grid;
	grid-template-columns: auto 25%;
	justify-self: center;
	transition: all 0.3s ease-in-out;
}
.search-header .search-buttons-container:hover {
	border: 1px solid var(--cp-palette-main-primary);
	border-radius: 10px;
}
.search-header .search-buttons-container input:focus-visible {
	outline: unset;
}
.search-header .search-buttons-container .search-form-control {
	border: unset;
	border-bottom-left-radius: 10px;
	border-radius: unset;
	border-top-left-radius: 10px;
	transition: all 0.3s ease-in-out;
}
.search-header .search-buttons-container button {
	transition: all 0.3s ease-in-out;
}
.search-header .search-buttons-container .btn {
	background-color: var(--cp-palette-main-fifth);
	border-bottom-right-radius: 10px;
	border-left: 2px solid var(--cp-palette-main-fifth);
	border-radius: unset;
	border-top-right-radius: 10px;
	margin-bottom: 6px;
	margin-top: 6px;
	padding: 0 12px;
}

.navigation-header {
	align-items: center;
	color: var(--cp-palette-main-fifth);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 100%;
	justify-content: center;
	position: relative;
	text-align: center;
	width: 100%;
}
.navigation-header
	.navigation-header-part:not(.navigation-header
		.navigation-header-part.toggle-dark-mode-part) {
	position: relative;
}
.navigation-header .toggle-dark-mode-part {
	position: absolute;
	right: -45px;
}
.navigation-header .cart-total-length {
	background: var(--cp-palette-main-fifth);
	border-radius: 100%;
	bottom: 30px;
	color: var(--cp-palette-main-secondary);
	font-size: 12px;
	font-weight: 500;
	height: 20px;
	line-height: 20px;
	position: absolute;
	text-align: center;
	width: 20px;
}
@media screen and (max-width: 990px) {
	.navigation-header .cart-total-length {
		bottom: 16px;
		height: 14px;
		line-height: 15px;
		width: 14px;
	}
}

@keyframes move1 {
	0% {
		bottom: 0;
		height: 100%;
	}
	54% {
		bottom: 100%;
		height: 0;
	}
	55% {
		bottom: 0;
		height: 0;
	}
	100% {
		bottom: 0;
		height: 100%;
	}
}
@keyframes move2 {
	0% {
		left: 0;
		width: 0;
	}
	50% {
		left: 0;
		width: 100%;
	}
	100% {
		left: 100%;
		width: 0;
	}
}
@keyframes move3 {
	0% {
		height: 100%;
		top: 0;
	}
	54% {
		height: 0;
		top: 100%;
	}
	55% {
		height: 0;
		top: 0;
	}
	100% {
		height: 100%;
		top: 0;
	}
}
@keyframes move4 {
	0% {
		right: 0;
		width: 0;
	}
	55% {
		right: 0;
		width: 100%;
	}
	100% {
		right: 100%;
		width: 0;
	}
}
.wrapper {
	display: grid;
	flex-direction: column;
	height: 100%;
	pointer-events: none;
	z-index: 20;
}

.wrapper-cell {
	display: flex;
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -450px 0;
	}
	100% {
		background-position: 450px 0;
	}
}
.animated-background,
.content {
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: linear-gradient(to right, #c1c1c1 8%, #d6d6d6 18%, #d0d0d0 33%);
	background-size: 800px 104px;
	height: 96px;
	position: relative;
}

.content {
	height: auto;
}

.preheader--hidden-nav {
	transform: translate3d(0, -34%, 0);
}

.navbar-blog-title {
	font-size: 14px;
	font-weight: 500;
}
