# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/

**/__pycache__
**/*.pyc

# Local PostgreSQL data
data/

app/env/
app/logs/
app/media/

node_modules
build
dist
