.git
.gitignore
__pycache__/
/setup.cfg
docker-compose.yml
docker-compose-dev.yml
docker-compose-deploy.yml
docker/
Dockerfile
Makefile
TODOS.MD

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/

/app/env/
/app/logs/
/app/media/
/app/static/
node_modules
build
dist