Django==4.1.4
psycopg2-binary==2.9.5
djangorestframework==3.14.0
django-cors-headers==3.13.0
djoser==2.1.0
pillow==9.3.0
stripe==3.5.0
django-admin-thumbnails==0.2.6
django-mptt==0.14.0
django-js-asset==2.0.0
strawberry-graphql-django==0.8.2
django-redis==5.2.0
celery==5.2.7
Faker==15.3.4
django-environ==0.9.0
django-tinymce==3.5.0
gunicorn==20.1.0
whitenoise==6.2.0
django-filter==22.1
django-debug-toolbar==3.8.1
black==22.12.0
django-stubs==1.13.1
django-stubs-ext==0.7.0
python-semantic-release==7.32.2
flake8==6.0.0
coverage==6.5.0
pylint-django==2.5.3
pylint_celery==0.3
