Django==4.0.4
psycopg2-binary==2.9.3
djangorestframework==3.13.1
django-cors-headers==3.13.0
djoser==2.1.0
pillow==8.4.0
stripe==2.56.0
django-admin-thumbnails==0.2.6
django-mptt==0.13.4
django-js-asset==1.2.2
graphene-django==2.15.0
django-redis==5.2.0
celery==5.2.7
Faker==13.15.0
django-environ==0.9.0
django-tinymce==3.4.0
gunicorn==20.1.0
whitenoise==6.2.0
django-filter==22.1
