Django>=3.2.3,<3.3
psycopg2>=2.8.6,<2.9
uWSGI>=2.0.19.1,<2.1
djangorestframework==3.12.2
django-cors-headers==3.7.0
djoser==2.1.0
pillow==8.4.0
stripe==2.56.0
django-admin-thumbnails==0.2.6
django-mptt==0.13.4
django-js-asset==1.2.2
graphene-django==2.14.0
django-redis==4.12.1