.grid-container-cart {
	align-items: center;
	background-color: var(--cp-palette-main-fourth);
	border-radius: 5px;
	display: grid;
	grid-template-columns: 45% 18% 18% 19%;
	justify-items: center;
	padding: 5px;
	position: relative;

	a {
		color: var(--cp-palette-main-secondary);
	}

	&-item-one {
		width: 100%;

		a {
			align-items: center;
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-items: center;

			span {
				justify-self: start;
			}
		}
	}

	&-item-two {
		color: var(--cp-palette-main-fifth);
	}

	&-item-three {
		align-items: center;
		color: var(--cp-palette-main-fifth);
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;

		a {
			font-size: 14px;
			padding: 4px 10px;
		}
	}

	&-item-four {
		color: var(--cp-palette-main-fifth);
	}

	&-item-five {
		color: var(--cp-palette-main-fifth);
		position: absolute;
		right: 30px;
	}
}

.grid-container-table-items {
	display: grid;
	grid-gap: 10px;
}
