.order-history-grid {
  &-head,
  &-body a {
    align-items: center;
    display: grid;
    grid-gap: 70px;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
  }

  &-head {
    padding-bottom: 10px;
    span {
      font-weight: 500;
    }
  }

  &-body {
    background-color: var(--cp-palette-main-fourth);
    border: 1px solid var(--cp-palette-main-third);
    border-radius: 8px;
    padding: 10px;

    &:hover {
      box-shadow: 0 0 2px 1px #f800007d;
    }
  }
}

.card-body-order-history {
  background-color: var(--cp-palette-main-secondary);
  border-radius: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
}
