.grid-account-password-fields {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(1, 1fr);

	.current_password,
	.new_password,
	.re_new_password {
		display: grid;
		grid-gap: 12px;
	}
}
