.user-account-main-container {
	display: grid;
	grid-gap: 0 50px;
	grid-template-columns: 25% auto;
	min-height: 500px;
	@media screen and (max-width: 767px) {
		grid-template-columns: 1fr;
	}

	.breadcrumb-container {
		grid-column: 1/3;
	}
}

.user-account-page-main-part {
	background-color: var(--cp-palette-main-secondary);
	border: 1px solid var(--cp-palette-main-third);
	border-radius: 25px;
	box-shadow: rgb(0 0 0 / 6%) 0 3px 5px -1px, rgb(0 0 0 / 5%) 0 6px 10px 0,
		rgb(0 0 0 / 4%) 0 1px 18px 0;
	display: grid;
	grid-gap: 20px;
	grid-template-rows: 1fr 1fr;
	max-height: 520px;
	padding: 20px;
}

.user-account-page-main-content {
	background-color: var(--cp-palette-main-secondary);
	border: 1px solid var(--cp-palette-main-third);
	border-radius: 25px;
	box-shadow: rgb(0 0 0 / 6%) 0 3px 5px -1px, rgb(0 0 0 / 5%) 0 6px 10px 0,
		rgb(0 0 0 / 4%) 0 1px 18px 0;
	display: grid;
	grid-gap: 20px;
	grid-template-rows: 1fr;
	height: max-content;
	padding: 20px;
	position: relative;
}

.user-account-grid-navbar {
	background-color: var(--cp-palette-main-secondary);
	border-radius: 10px;
	display: grid;
	grid-gap: 15px;

	button.btn {
		background-color: var(--cp-palette-main-primary);
		border-radius: 35px;
		color: var(--cp-palette-main-fifth);
		margin: 0 auto;
		padding: 10px;
		text-align: center;
		width: 40%;
	}
}

.user-account-grid-navbar-paths {
	background-color: var(--cp-palette-main-secondary);
	display: grid;
	grid-gap: 10px;
	grid-template-rows: repeat(3, 1fr);
	padding-bottom: 20px;

	a {
		background-color: transparent;
		border-radius: 35px;
		color: var(--cp-palette-main-fifth);
		display: grid;
		font-size: 20px;
		grid-gap: 15px;
		grid-template-columns: 30px 1fr;
		margin: 0 auto;
		padding: 10px;
		text-align: start;
		width: 66%;

		&:hover {
			color: var(--cp-palette-main-fourth);
		}

		&.router-link-active {
			color: var(--cp-palette-main-primary);

			svg {
				color: var(--cp-palette-main-primary);
			}
		}

		span {
			font-weight: 300;
		}
	}
}

.user-account-header {
	font-weight: 700;

	&:hover {
		color: var(--cp-palette-main-third);
	}
}

.log-out-button {
	right: 20px;

	&:hover {
		background-color: var(--cp-palette-main-primary);
		transform: scale(1.02);
	}
}
