.grid-account-setting-fields {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);

  .first_name,
  .last_name,
  .phone,
  .city,
  .zipcode,
  .address,
  .place,
  .country,
  .region {
    display: grid;
    grid-gap: 12px;
  }

  .button {
    align-items: end;
    display: grid;
  }
}
