.order-history-grid {
  &-head, &-body a {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 70px;
    align-items: center;
    justify-items: center;
  }

  &-head {
    padding-bottom: 10px;
  }

  &-body {
    padding: 10px;
    border: 1px solid var(--cp-palette-main-fifth);
    background-color: white;
    border-radius: 8px;

    &:hover {
      box-shadow: 0 0 2px 1px #f800007d;
    }
  }
}

.card-body-order-history {
  background-color: var(--cp-palette-main-fourth) !important;
  border-radius: 10px;
  padding-top: 30px !important;
  padding-bottom: 30px !important;

  span, a {
    color: var(--cp-palette-main-secondary) !important;
  }
}