$color-palette-main-primary: #4F7CAC;
$color-palette-main-secondary: #C0E0DE;
$color-palette-main-third: #162521;
$color-palette-main-fourth: #3C474B;
$color-palette-main-fifth: #9EEFE5;

$color-palette-helper-light-primary-background: #F8F8F8;
$color-palette-helper-light-primary-foreground: #282828;
$color-palette-helper-light-secondary-background: #F0F0F0;
$color-palette-helper-light-secondary-foreground: #181818;
$color-palette-helper-light-third-background: #E0E0E0;
$color-palette-helper-light-third-foreground: #080808;

$color-palette-helper-dark-primary-foreground: #C8C8C8;
$color-palette-helper-dark-primary-background: #151515;
$color-palette-helper-dark-secondary-foreground: #C6C6C6;
$color-palette-helper-dark-secondary-background: #1D1D1D;
$color-palette-helper-dark-third-foreground: #C1C1C1;
$color-palette-helper-dark-third-background: #272727;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1620px,
        xxxl: 1920px,
) !default;

$container-sizes: (
        sm: 95%,
        md: 1160px,
        lg: 1560px
) !default;

$shadow-sm: 0 1.2px 3.6px rgba(0, 0, 0, 0.021),
0 3.3px 10px rgba(0, 0, 0, 0.03),
0 7.8px 24.1px rgba(0, 0, 0, 0.039),
0 26px 80px rgba(0, 0, 0, 0.06);

$shadow-md: 0 3.4px 3.6px rgba(0, 0, 0, 0.028),
0 9.5px 10px rgba(0, 0, 0, 0.04),
0 22.9px 24.1px rgba(0, 0, 0, 0.052),
0 76px 80px rgba(0, 0, 0, 0.08);

$shadow-lg: 0 5.4px 5.8px rgba(0, 0, 0, 0.063),
0 15px 16.2px rgba(0, 0, 0, 0.09),
0 36.2px 38.9px rgba(0, 0, 0, 0.117),
0 120px 129px rgba(0, 0, 0, 0.18);
