$color-palette-main-primary: #981d1dc9;
$color-palette-main-secondary: #080808;
$color-palette-main-third: #30363d;
$color-palette-main-fourth: #0d1117;
$color-palette-main-fifth: #dbdfe3;

$color-palette-main-primary-light: #981d1dc9;
$color-palette-main-secondary-light: #ffffff;
$color-palette-main-third-light: #dfdfdf;
$color-palette-main-fourth-light: #f1f1f1;
$color-palette-main-fifth-light: #080808;

$form-check-input: #1f8dfd;
$rating-starts: #f68b24;
$base-success-color: #53e24aeb;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1620px,
        xxxl: 1920px,
) !default;

$container-sizes: (
        sm: 95%,
        md: 1160px,
        lg: 1560px
) !default;
