.login-card {
	display: block;
	margin: 0 auto;
	max-width: 500px;

	.card-body {
		grid-template-rows: unset;
	}
}

.login-grid-part {
	&-one {
		display: grid;
		gap: 0.5rem;
		grid-template-rows: auto auto;
		align-items: center;
		justify-content: center;

		.form-check {
			align-items: center;
			display: grid;
			grid-template-columns: 20% 80%;
		}

		.grid-item-two {
			a {
				color: var(--cp-palette-main-fifth);
				font-size: 17px;
				font-weight: 500;

				&:hover {
					color: var(--cp-palette-main-primary);
					cursor: pointer;
				}
			}
		}
	}

	&-socials {
		display: grid;
		grid-gap: 5px;
		grid-template-columns: repeat(2, 1fr);

		a.btn {
			background: var(--cp-palette-main-fourth);
			border-radius: 5px;
			padding: 5px;
		}
	}
}

.login-register-field {
	a {
		color: var(--cp-palette-main-fifth);
		font-size: 16px;
		font-weight: 500;

		&:hover {
			color: var(--cp-palette-main-primary);
			cursor: pointer;
		}
	}
}
