form input {
  display: block;
}

.error {
  color: var(--cp-palette-main-primary);
  font-size: 12px;
}

#password-reset-view {
  max-width: 500px;

  .card-body {
    padding: 50px;
  }
}

.password-reset-message {
  span {
    color: var(--cp-palette-main-fifth);
  }
}
