.page-sign-up {
  min-height: 500px;
}

.buttons {
  grid-area: buttons;
  margin-top: 1.25rem;
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}

.password {
  grid-area: password;
}

.confirm-password {
  grid-area: confirm-password;
}

.sign-up-card {
  display: block;
  margin: 0 auto;
  max-width: 500px;

  .card-body {
    grid-template-rows: unset;
  }
}

.registration-complete-message {
  span {
    color: var(--cp-palette-main-fifth);
  }
}

#registration-complete-view {
  align-content: center;
  display: grid;
  height: 200px;
  justify-content: center;
  text-align: center;

  span,
  p {
    color: var(--cp-palette-main-fifth);
  }
}

.registration-resend-action,
.register-login-field a {
  color: var(--cp-palette-main-secondary);
  font-size: 17px;
  font-weight: 500;

  &:hover {
    color: var(--cp-palette-main-primary);
    cursor: pointer;
  }
}

.registration-complete-message {
  max-width: 40vw;
  &-content {
    background: var(--cp-palette-main-fourth);
    background: var(--cp-palette-main-secondary);
    border-radius: 10px;
    box-shadow: 0 0 7px 0 rgb(153 153 153 / 40%);
    padding: 20px;
    position: relative;
    span {
      color: var(--cp-palette-main-fifth);
    }
  }
}
