.page-sign-up {
  min-height: 500px;
}

.buttons {
  margin-top: 1.25rem;
  grid-area: buttons;
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}

.password {
  grid-area: password;
}

.confirm-password {
  grid-area: confirm-password;
}

.sign-up-card {
  max-width: 500px;
  display: block;
  margin: 0 auto;

  .card-body {
    grid-template-rows: unset;
  }
}

.registration-complete-message {
  span {
    color: var(--cp-palette-main-fifth);
  }
}

#registration-complete-view {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 200px;
  text-align: center;

  span, p {
    color: var(--cp-palette-main-fifth);
  }
}

.registration-resend-action, .register-login-field a {
  color: var(--cp-palette-main-secondary);
  font-weight: 500;
  font-size: 17px;

  &:hover {
    cursor: pointer;
    color: var(--cp-palette-main-primary) !important;
  }
}

.registration-complete-message {
  max-width: 40vw;
  &-content {
    position: relative;
    padding: 20px;
    background: var(--cp-palette-main-fourth);
    border-radius: 10px;
    box-shadow: 0 0 7px 0 rgb(153 153 153 / 40%);
    background: var(--cp-palette-main-secondary);
    span {
      color: var(--cp-palette-main-fifth);
    }
  }
}