#activate-account-view {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 200px;
  text-align: center;
}

.activation-error {
  &-text {
    color: var(--cp-palette-main-fifth);
  }

  &-action {
    color: var(--cp-palette-main-fifth);
    font-weight: 500;
    font-size: 17px;

    &:hover {
      cursor: pointer;
      color: var(--cp-palette-main-primary) !important;
    }
  }
}

.activation-complete-action {
  color: var(--cp-palette-main-fifth);
  font-weight: 500;
  font-size: 17px;

  &:hover {
    cursor: pointer;
    color: var(--cp-palette-main-primary) !important;
  }
}