#activate-account-view {
  align-content: center;
  display: grid;
  height: 200px;
  justify-content: center;
  text-align: center;
}

.activation-error {
  &-text {
    color: var(--cp-palette-main-fifth);
  }

  &-action {
    color: var(--cp-palette-main-fifth);
    font-size: 17px;
    font-weight: 500;

    &:hover {
      color: var(--cp-palette-main-primary);
      cursor: pointer;
    }
  }
}

.activation-complete-action {
  color: var(--cp-palette-main-fifth);
  font-size: 17px;
  font-weight: 500;

  &:hover {
    color: var(--cp-palette-main-primary);
    cursor: pointer;
  }
}
