.registration-complete-message {
  max-width: 40vw;
  &-content {
    background: var(--cp-palette-main-fourth);
    background: var(--cp-palette-main-secondary);
    border-radius: 10px;
    box-shadow: 0 0 7px 0 rgb(153 153 153 / 40%);
    padding: 20px;
    position: relative;
    span {
      color: var(--cp-palette-main-fifth);
    }
  }
}
