$transitional-profile-1: all 0.2s ease-out;

.cp-utilities-generic_modal {
  content-visibility: hidden;
  visibility: hidden;
  z-index: 1002;

  &-wrapper {
    align-content: center;
    align-items: center;
    display: grid;
    height: 100%;
    justify-content: center;
    justify-items: center;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: $transitional-profile-1;
    user-select: none;
    width: 100%;
    z-index: 1000;
    &.open {
      opacity: 1;
      pointer-events: auto;
      user-select: initial;

      .cp-utilities-generic_modal {
        content-visibility: visible;
        visibility: visible;
      }
    }
  }

  &-overlay {
    backdrop-filter: blur(1rem);
    background-color: rgb(176 144 153 / 38%);
    height: 100%;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    transition: $transitional-profile-1;
    width: 100%;
    z-index: 1001;

    &-static {
      height: 100%;
      opacity: 0.23;
      width: 100%;
    }

    &-close {
      background: transparent;
      border: 0;
      color: #9a9a9b;
      cursor: pointer;
      position: absolute;
      right: 1rem;
      top: 1rem;
      transition: $transitional-profile-1;
      z-index: 1003;
      &:hover {
        transform: scale(1.5);
      }

      &:active {
        transform: scale(0.8);
      }
    }
  }
}
