.instagram {
  &-wrapper {
    margin-top: 3rem;
  }
  &-gallery {
    &-image {
      width: 100%;
      max-width: 300px;
    }
    &-item {
      &.slider-item {
        padding: 16px 24px;
        background: #f3f3f3;
        width: 100%;
        margin-right: 24px;
        border-radius: 5px;
        @media (min-width: 640px) {
          width: calc((100% - (24px)) / 2);
        }
        @media (min-width: 768px) {
          width: calc((100% - (2 * 24px)) / 3);
        }
        @media (min-width: 1024px) {
          width: calc((100% - (3 * 24px)) / 4);
        }
        @media (min-width: 1280px) {
          width: calc((100% - (4 * 24px)) / 5);
        }
      }
    }
  }
}
