.blog-post-list {
  &-container {
    display: grid;
    grid-template-columns: 77.5% auto;
    gap: 2rem;
  }
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
  &-no_posts {

  }
}