@import '@/assets/styles/base/variables';

.blog-comments-card {
  &-container {
    align-items: center;
    background-color: var(--cp-palette-main-fourth);
    border: 1px solid var(--cp-palette-main-third);
    border-radius: 8px;
    content-visibility: auto;
    display: grid;
    grid-gap: 20px 15px;
    grid-template-columns: 100px auto;
    padding: 30px;
    position: relative;
  }

  &-wrapper {
    background-position: center;
    background-size: cover;
    border: 1px solid rgba(246, 139, 36, .4);
    border-radius: 50%;
    font: inherit;
    font-size: 100%;
    height: 100px;
    overflow: hidden;
    padding: 0;
    vertical-align: baseline;
    width: 100px;
  }

  &-head {
  }

  &-body {
    grid-column: 2;
  }

  &-user {
    border: 1px solid $rating-starts;
  }
}
