@import '@/Assets/Styles/Base/variables';

.product-reviews-stats-container {
	display: grid;
	grid-gap: 10px;

	.product-reviews-title {
		span {
			font-size: 26px;
			font-weight: 500;
		}
	}

	.product-reviews-average {
		display: flex;

		&-title {
			padding-right: 15px;
		}

		&-stars {
		}

		&-count {
			color: var(--cp-palette-main-fifth);
			font-size: 18px;
			font-weight: 500;
			padding-left: 10px;
		}

		&-total {
			span {
				color: var(--cp-palette-main-fifth);
				font-size: 18px;
				font-weight: 500;
			}
		}
	}
}

.product-reviews-stats {
	background-color: var(--cp-palette-main-secondary);

	.product-reviews-average {
		.star {
			height: 18px;
			width: 18px;

			&-background {
				color: $rating-starts;
			}
		}
	}
}

.current-user-review-card {
	border: 1px solid $rating-starts;
}

.product-page-grid-container {
	display: grid;
	grid-gap: 25px;
	grid-template-columns: repeat(2, 1fr);
}

.product-page-grid-image {
	border: 1px solid var(--cp-palette-main-third);
	border-radius: 5px;
	box-shadow: 0 0 7px 0 rgb(153 153 153 / 40%);
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding: 30px;

	.image-main {
		grid-column: 1/4;
		grid-row: 1;

		img {
			display: block;
			margin: 0 auto;
		}
	}

	.image {
		&:not(&.image-main) {
			align-self: center;
			display: grid;
			justify-items: center;

			&:hover {
				cursor: pointer;

				img {
					border: 1px solid var(--cp-palette-main-third);
				}
			}

			img {
				border: 1px solid var(--cp-palette-main-fifth);
				border-radius: 4px;
				padding: 2px;
			}
		}
	}

	@media screen and (max-width: 767px) {
		margin-bottom: 20px;
	}
}

.product-page-grid-info {
	h5 {
		color: var(--cp-palette-main-fifth);
	}
}

.product-page-grid-right {
	border-radius: 5px;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(1, 1fr);

	.product-page-grid-info-part {
		&-one,
		&-two {
			background-color: var(--cp-palette-main-fourth);
			border-radius: 5px;
			box-shadow: 0 0 7px 0 rgb(153 153 153 / 40%);
		}

		&-one {
			border: 1px solid var(--cp-palette-main-third);
			padding: 30px 60px 30px;
		}

		&-two {
			border: 1px solid var(--cp-palette-main-third);
			padding: 15px 30px 30px;
		}
	}
}

.product-page-grid-price {
	display: grid;
	grid-template-columns: repeat(1, 1fr);

	&-starting {
		span {
			text-decoration: line-through;
		}
	}

	&-save {
		font-size: 16px;
	}

	&-final {
		font-size: 22px;
	}
}

.product-page-grid-buttons {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: 18% 55% 18%;
	max-width: 330px;

	input {
		align-self: center;
		background-color: var(--cp-palette-main-fourth);
		border: 1px solid var(--cp-palette-main-third);
		border-radius: 5px;
		color: var(--cp-palette-main-fifth);
		height: 100%;
		justify-self: center;
		margin-left: 0;
		text-align: center;
		width: 100%;
	}
}

.addToCartButton {
	&.disabled {
		background-color: var(--cp-palette-main-third);
		border-color: transparent;
		box-shadow: none;
		cursor: not-allowed;
		opacity: 0.5;
	}
}

.container-small {
	padding-bottom: 15px;
	padding-top: 15px;
}

.product-reviews-container {
	background-color: var(--cp-palette-main-fourth);
}

.product-reviews-grid {
	display: grid;
	grid-gap: 15px;
	grid-template-rows: repeat(1, 1fr);
}

.product-page-information {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr;

	&-availability {
		display: flex;
		grid-gap: 12px;

		&.unavailable {
			span {
				color: var(--cp-palette-main-fifth);
				font-weight: 500;
				letter-spacing: 0.5px;
				line-height: 22px;
			}
		}

		span {
			color: var(--cp-palette-main-fifth);
			font-weight: 500;
			letter-spacing: 0.5px;
			line-height: 22px;
		}
	}

	&-delivery {
		display: flex;
		grid-gap: 12px;

		span {
			color: var(--cp-palette-main-fifth);
			font-weight: 500;
			letter-spacing: 0.5px;
			line-height: 22px;
		}
	}
}

.btn-outline-primary-one {
	span {
		color: var(--cp-palette-main-fifth);
		padding-left: 15px;
	}
}
