@import '@/Assets/Styles/Base/variables';

.rating {
	align-items: center;
	display: flex;
	height: 26px;
	position: relative;

	&-background {
		position: relative;
		z-index: 1;
	}

	&-foreground {
		pointer-events: none;
		position: absolute;
		z-index: 2;
	}

	&-board {
		align-content: center;
		align-items: center;
		display: inline-flex;
		flex-direction: row;
		flex-wrap: nowrap;
		height: 26px;
		justify-content: flex-start;
		left: 0;
		top: 0;
	}

	.star {
		cursor: pointer;
		height: 26px;
		width: 26px;

		&-foreground {
			color: $rating-starts;
		}

		&-background {
			color: var(--cp-palette-main-third);
		}
	}
}

#productReviewForm {
	.modal-footer {
		align-content: end;
		display: grid;
		justify-content: end;
	}

	.btn-outline-primary-one {
		max-width: 130px;
		min-width: 130px;
	}
}

.modal-header {
	display: flex;
	grid-gap: 10px;
}
