.home-usp-grid-container {
  background: var(--cp-palette-main-fourth);
}

.home-usp-grid-content {
  background: var(--cp-palette-main-fourth);
  border-bottom: 1px solid var(--cp-palette-main-third);
  border-top: 1px solid var(--cp-palette-main-third);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  max-width: 1320px;
  padding: 20px;

  .grid-usp-item {
    align-self: center;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    justify-self: center;

    svg {
      border-right: 2px solid var(--cp-palette-main-fifth);
      width: 100%;
    }

    span {
      align-self: center;
      display: grid;
      font-size: 18px;
      font-weight: 500;
      height: 100%;
      justify-self: center;
      width: 100%;

      &:first-child {
        font-size: 12px;
        font-weight: 300;
      }

      @media screen and (max-width: 767px) {
        font-size: 14px;
        &:first-child {
          font-size: 10px;
        }
      }
    }
  }
}

.home-top-grid-content {
  display: grid;
  gap: 45px;
  grid-template-columns: 2fr 1fr;
  @media screen and (max-width: 767px) {
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.grid-item-swipper {
  align-content: center;
  align-items: center;
  border-radius: 8px;
  display: grid;
  justify-content: center;
  justify-items: center;
  transition: all 0.3s ease-in-out;

  img,
  video,
  .swiper-slide {
    border-radius: 8px;
  }

  &:hover {
    transition: all 0.3s ease-in-out;
  }
}

.grid-item-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 100%;
  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .grid-item-content {
    height: 275px !important;
    position: relative;

    &-one {
      .swiper-container-initialized {
        height: 275px !important;
        margin: 0 auto;
        width: 100% !important;
        @media screen and (max-width: 767px) {
          height: 200px !important;
          width: 300px !important;
        }

        @media screen and (max-width: 576px) {
          height: 125px !important;
          width: 175px !important;
        }

        @media screen and (max-width: 380px) {
          height: 110px !important;
          width: 125px !important;
        }
      }
    }

    &-two {
      .swiper-container-initialized {
        height: 275px !important;
        margin: 0 auto;
        width: 100% !important;
        @media screen and (max-width: 767px) {
          height: 200px !important;
          width: 300px !important;
        }

        @media screen and (max-width: 576px) {
          height: 125px !important;
          width: 175px !important;
        }

        @media screen and (max-width: 380px) {
          height: 110px !important;
          width: 125px !important;
        }
      }
    }
  }
}

.grid-content-six {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.swiper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  /* Center slide text vertically */
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  background: var(--cp-palette-main-fifth);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 18px;
  justify-content: center;
  text-align: center;
  width: 100% !important;
}

.swiper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  /* Center slide text vertically */
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  align-items: center;
  background: #f00014;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 18px;
  justify-content: center;
  text-align: center;
  width: 100% !important;
}

.swiper-slide img,
video {
  display: block;
  height: 100%;
  width: 100%;
}

.swiper-pagination-bullet {
  background-color: var(--cp-palette-main-primary);
  height: 16px;
  opacity: 0.35;
  width: 16px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-container {
  .swiper-slide {
    background-color: var(--cp-palette-main-primary);
  }

  &.swiper-container-initialized {
    max-height: none;
    overflow-y: auto;
  }
}

.grid-item-content-one,
.grid-item-content-two {
  align-content: center;
  align-items: center;
  display: grid;
  justify-content: center;
  max-width: 100%;
}
