.checkout-pay_way {
  &-container {
    display: grid;
    gap: 1rem;
    background-color: var(--cp-palette-main-secondary);
    padding: 15px 30px 30px;
    border-radius: 10px;
    h2 {
      color: var(--cp-palette-main-fifth);
    }
  }
  &-section {
    display: grid;
    gap: 1rem;
  }
  &-content {
    display: grid;
    grid-template-columns: 26px auto;
    align-items: center;
  }
  &-input {
    width: 18px;
    height: 18px;
    &:hover {
      cursor: pointer;
    }
  }
  &-input-label {
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
  &-icon {
    max-width: 58px;
  }
  &-name {
    font-size: 18px;
  }
  &-cost {
    &-free {

    }
  }
}