.main-footer {
  background-color: var(--cp-palette-main-secondary);
  border-top: 1px solid var(--cp-palette-main-third);
}

.main-copyright {
  border-top: 1px solid var(--cp-palette-main-third);
  padding: 5px;
  text-align: center;

  span {
    font-size: 12px;
  }
}

.footer-grid-newsletter {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr;
  margin: 0 auto;
  max-width: 500px;

  .grid-item {
    &-one {
      grid-column-end: span col4-start;
      grid-column-start: 1;
      grid-row-start: 1;
    }

    &-two {
      label {
        display: block;
      }
    }
  }
}

.footer-section-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .grid-item {
    &-one,
    &-two,
    &-three,
    &-four {
      text-align: center;
    }
  }
}

.footer-section-newsletter {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;

  .footer-safe-payments {
    align-items: center;
    display: flex;
    justify-content: center;

    &-lottie {
      max-width: 175px;
    }
  }
}
