.entypo {
  transition: all 0.3s ease-in-out;

  svg {
    transition: all 0.3s ease-in-out;
    width: auto;
    height: auto;
    padding: 10px;
  }

  &:hover {
    transition: all 0.3s ease-in-out;

    svg {
      transition: all 0.3s ease-in-out;
      background-color: var(--cp-palette-main-fourth);
      transform: scale(1.01);
      box-shadow: 0 0 8px 1px #ffa1a1;
    }
  }
}

#social-sidebar a[class*="twitter"]:hover,
#social-sidebar a[class*="twitter"] span,
#social-sidebar a[class*="twitter"] span:before {
  background: #00aced;
}

#social-sidebar a[class*="facebook"]:hover,
#social-sidebar a[class*="facebook"] span,
#social-sidebar a[class*="facebook"] span:before {
  background: #3B5998;
}

#social-sidebar a[class*="gplus"]:hover,
#social-sidebar a[class*="gplus"] span,
#social-sidebar a[class*="gplus"] span:before {
  background: #E34429;
}

#social-sidebar a[class*="dribbble"]:hover,
#social-sidebar a[class*="dribbble"] span,
#social-sidebar a[class*="dribbble"] span:before {
  background: #ea4c89;
}

#social-sidebar a[class*="dropbox"]:hover,
#social-sidebar a[class*="dropbox"] span,
#social-sidebar a[class*="dropbox"] span:before {
  background: #8DC5F2;
}

#social-sidebar a[class*="github"]:hover,
#social-sidebar a[class*="github"] span,
#social-sidebar a[class*="github"] span:before {
  background: #9C7A5B;
}

#social-sidebar a[class*="evernote"]:hover,
#social-sidebar a[class*="evernote"] span,
#social-sidebar a[class*="evernote"] span:before {
  background: #6BB130;
}

#social-sidebar a[class*="instagram"]:hover,
#social-sidebar a[class*="instagram"] span,
#social-sidebar a[class*="instagram"] span:before {
  background: #e1306c;
}

#social-sidebar a[class*="linkedin"]:hover,
#social-sidebar a[class*="linkedin"] span,
#social-sidebar a[class*="linkedin"] span:before {
  background: #4267b2;
}