dist
node_modules
.output
.nuxt
.storybook
storybook-static
coverage
*.log
nuxt.d.ts
.DS_Store
.md
package.json
package-lock.json
babel.config.js
graphql
components.d.ts
icons.d.ts
auto.d.ts
src-tauri
auto-imports.d.ts
