@import '@/assets/styles/base/form_colors';

.disabled {
  background-color: $gray-100 !important;
  border-color: $gray-400 !important;
  cursor: not-allowed !important;
  opacity: 0.3;
}

.button {
  background: transparent;
  border-color: transparent;
  border-radius: 0.25rem;
  border-width: 1px;
  box-shadow: none;
  color: var(--cp-palette-main-fifth);
  cursor: pointer;
  display: block;
  min-width: 6rem;
  outline: none;
  padding: 1rem 2rem;
  transition: all 100ms;
}

.default {
  background-color: var(--cp-palette-main-fourth) !important;
}

.primary {
  background-color: var(--cp-palette-main-primary) !important;
  border-color: var(--cp-palette-main-primary) !important;
}

.primary-two {
  background-color: var(--cp-palette-main-third) !important;
  border-color: var(--cp-palette-main-third) !important;
}

.danger {
  background-color: $red-50;
  border-color: $red-50;
}
