._form {
	display: grid;
	gap: 1rem;
}
.validation-errors {
	font-size: 0.8rem;
	margin-top: 0.5rem;
}
.checkout-grid {
	&-form {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 1fr 1fr;

		&-part-left {
		}

		&-part-right {
		}
	}
}
