@import '@/assets/styles/base/form_colors';

.errors {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: $red-400;

  p {
    word-wrap: break-word;
    font-size: 13px;
    color: $red-400;
  }
}
