@import '@/Assets/Styles/Base/form_colors';

._container {
	position: relative;
}

._input {
	background-color: var(--cp-palette-main-fourth);
	border: 1px solid var(--cp-palette-main-third);
	border-radius: 0.25rem;
	color: var(--cp-palette-main-fifth);
	outline: none;
	padding: 0.75rem;
	width: 100%;

	&:focus {
		border-color: #fd000252;
		box-shadow: 0 0 3px #fd000230;
	}
}

._input-error {
	border-color: $red-400;

	&:focus {
		box-shadow: 0 0 3px $red-400;
	}
}

._loading-icon {
	color: $green-500;
	height: 14px;
	margin-top: -7px;
	position: absolute;
	right: 0.75rem;
	top: 50%;
	width: 14px;
}

._loading-icon-error {
	color: $red-400;
}
