@import '@/Assets/Styles/Base/form_colors';

.errors {
  color: $red-400;
  font-size: .875rem;
  margin-top: .25rem;

  p {
    color: $red-400;
    font-size: 13px;
    word-wrap: break-word;
  }
}
