@mixin primary-button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 7px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
  width: 100%;
  &:focus {
    box-shadow: none;
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}
