.tip-card {
  &-container {
    position: relative;
    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  &-wrapper {
    display: grid;
    grid-gap: 1.25rem;
    padding: 1rem 1.5rem;
    position: relative;
  }

  &-title {
    font-weight: 500;
  }

  &-content {
    font-size: 13px;
  }

  &-icon {
    position: absolute;
    right: 5px;
    top: 10px;
    &-image {
      max-height: 26px;
      max-width: 26px;
    }
  }

  &-bottom {
    align-items: center;
    border-bottom: 1px solid var(--cp-palette-main-dark-primary);
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto 1fr;
    padding-bottom: 1rem;
    &-icon {
    }

    &-text {
      font-size: 14px;
      font-weight: 500;
    }
  }
}
