{% extends "account/base.html" %}

{% load i18n %}
{% load form_filters %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 class="hidden">{% trans "Sign Up" %}</h1>

<div class="grid items-center justify-items-center w-full h-full g-6 text-gray-800">
    <div class="w-full rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 bg-zinc-800 border-gray-700">
        <div class="p-12 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2xl text-white">
                {% trans "Create an account" %}
            </h1>
            <form class="signup space-y-4 md:space-y-6" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-white">{% trans "Your email" %}</label>
                    {{ form.email | add_class:"border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 :placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" }}
                    {{ form.email.errors | safe }}
                </div>
                <div>
                    <label for="password1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{% trans "Password" %}</label>
                    {{ form.password1 | add_class:"border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 :placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" }}
                    {{ form.password1.errors | safe }}
                </div>
                <div>
                    <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{% trans "Confirm password" %}</label>
                    {{ form.password2 | add_class:"border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 :placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" }}
                    {{ form.password2.errors | safe }}
                </div>
                <div class="form-errors">
                  {{ form.non_field_errors | safe }}
                </div>
                <div class="flex items-start">
                    <div class="flex items-center h-5">
                      <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required>
                    </div>
                    <div class="ml-3 text-sm">
                      <label for="terms" class="font-light text-gray-500 dark:text-gray-300">{% blocktrans %}I accept the <a class="font-medium text-primary-600 hover:underline dark:text-primary-500" href="#">Terms and Conditions{% endblocktrans %}</a></label>
                    </div>
                </div>
                <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">{% trans "Sign Up" %} &raquo;</button>
                <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                  {% blocktrans %}Already have an account? <a href="{{ login_url }}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login here{% endblocktrans %}</a>
                </p>
                {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}
